* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tts_container {
    margin-top: 15vh;
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, rgb(7, 214, 237), rgb(218, 4, 125));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.7s ease;
    text-align: center;
}

.tts_container h1 {
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
    color: #ff2963;
}

.tts_container h1 span {
    color: #FAFAFA;
    text-decoration: underline;
}

textarea {
    padding: 20px;
    width: 600px;
    height: 250px;
    border-radius: 10px;
    background-color: #403d84;
    color: #fff;
    font-size: 20px;
    border: 0;
    outline: 0;
    resize: none;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

textarea::placeholder {
    font-size: 20px;
    color: #ddd;
}

.row {
    width: px;
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #ff2963;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    outline: 0;
    cursor: pointer;
}

select {
    flex: 1;
    color: white;
    background: #403d84;
    padding: 0 20px;
    outline: 0;
    border: 0;
    height: 50px;
    width: 470px;
    border-radius: 30px;
}

@media screen and (max-width: 700px) {
    .tts_container {
        margin: auto;
    }

    .tts_container h1 {
        font-size: 35px;
        font-weight: 500;
        text-align: start;
        margin-left: 10px;
    }

    textarea {
        width: 500px;
        height: 200px;
        font-size: 15px;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .row {
        width: 500px;
        margin-left: 10px;
    }

    button {
        background-color: #ff2963;
        color: white;
        border: 1px red solid;
        font-size: 14px;
        padding: 10px 20px;
    }

    select {
        padding: 0 30px;
        height: 45px;
    }
}

@media screen and (max-width: 600px) {
    .tts_container {
        margin: auto;
    }

    .tts_container h1 {
        font-size: 30px;
        font-weight: 500;
        text-align: start;
        margin-left: 10px;
    }

    textarea {
        width: 430px;
        height: 180px;
        font-size: 15px;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .row {
        width: 430px;
        margin-left: 10px;
    }

    select {
        padding: 0 30px;
        height: 40px;
    }
}

@media screen and (max-width: 490px) {
    .tts_container {
        margin: auto;
    }

    .tts_container h1 {
        font-size: 20px;
        font-weight: 500;
        text-align: start;
    }

    textarea {
        width: 330px;
        height: 150px;
        font-size: 15px;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .row {
        width: 330px;
        margin-left: 10px;
        gap: 8px;
    }

    button {
        font-size: 14px;
        padding: 10px 20px;
        width: 100px;
    }

    select {
        width: 240px;
        padding: 0 30px;
        height: 45px;
    }
}